.posts {
  padding-bottom: 144px;
  padding-top: 48px;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  gap: 15px;
  margin-top: 110px;
}

.sub-title {
  font-size: 60px;
  text-align: center;
}

.sub-title span {
  display: inline-block;
  padding: 2px 4px;
  background: linear-gradient(to right, #6366f1, #8b5cf6, #ec4899);
  border-radius: 8px;
}

.post {
  max-width: 27rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 1px 1px 20px #012290f7, 1px 1px 40px #0053b8f7;
  border-width: 2px;
  border-color: #d1d5db;
  transition: background 0.5s, transform 0.5s;
}

.post:hover {
  transform: translateY(-10px);
}

.postImg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12rem;
  color: #1a202c;
}

.postImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.postImg img:hover {
  transform: scale(1.025);
}

.post-description {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.post-description p {
  color: #2d3748;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

.post-description h2 {
  color: #1a202c;
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.post-Detailsa {
  display: flex;
  justify-content: flex-end;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.link {
  color: #1a202c;
  font-weight: 600;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.link p {
  font-style: italic;
}

@media (min-width: 640px) {
  .posts {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 768px) {
  .posts {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .posts {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (max-width: 640px) {
  .posts {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
